<!DOCTYPE html>
<html>
	<head>
		<title>Order Success</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="styles/normalize.css">
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
		<script src="scripts/jquery.js"></script>
		
		<script src="scripts/modernizr.js"></script>
	</head>
	<body onload="showResponse()">
		<div class="product">
			<header>
				<hgroup>
					<h1>Transaction Success</h1>
					<h4>the data available for 15 minutes</h4>
				</hgroup>
			</header>
			<p>you can found below the data sent at begining process + ern response</p>
			
				<pre id="response">
					{{response_data}}
				</pre>
			<a href="https://documenter.getpostman.com/view/393804/Tz5nbJNq">
				Documetation
			</a><br><br>
			<a href="https://bitbucket.org/beatmanltd/ern-dd.demo.python">
				Download sample in python language
			</a>
		</div>
	</body>
</html>
	